﻿@model AnalyzationDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="alert alert-secondary">
    <div><b>Start Coin:</b> @Model.State.StartAmount @Model.State.StartCoin</div>
    <div><b>Depth:</b> @Model.State.Depth</div>
    <div><b>State:</b> @Model.State.State</div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="plans-tab" data-toggle="tab" href="#plans" role="tab" aria-controls="plans" aria-selected="true">
            Plans: @Model.Plans.Count
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="errors-tab" data-toggle="tab" href="#errors" role="tab" aria-controls="errors" aria-selected="false">
            Errors: @Model.Errors.Count
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="plans" role="tabpanel" aria-labelledby="plans-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    Id
                </div>
                <div class="col-md-5">
                    Factor
                </div>
                <div class="col-md-5">
                    Steps Count
                </div>
            </div>
            @foreach (var plan in @Model.Plans)
            {
                <div class="row">
                    <div class="col-md-2">
                        @Html.ActionLink(plan.Id.ToString(), "PlanDetails", "Home", new { plan.Id })
                    </div>
                    <div class="col-md-5">
                        @plan.TotalFactor
                    </div>
                    <div class="col-md-5">
                        @plan.StepsCount
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="tab-pane fade" id="errors" role="tabpanel" aria-labelledby="errors-tab">
        @foreach (var error in @Model.Errors)
        {
            <div>
                @error
            </div>
        }
    </div>
</div>
<hr />
<a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Stop">
    Stop
</a>