﻿@model AnalyzationStateViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="alert alert-secondary">
    <div><b>Start Coin:</b> @Model.StartAmount @Model.StartCoin</div>
    <div><b>Depth:</b> @Model.Depth</div>
    <div><b>State:</b> @Model.State</div>
</div>
<hr />
<a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Start">
    Start
</a>
