﻿@model PlanDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="alert alert-secondary">
    <div><b>Id:</b> @Model.Id</div>
    <div><b>Factor:</b> @Model.TotalFactor</div>
</div>
<h2>Steps: @Model.Steps.Count</h2>
<hr />
<div class="table">
    <div class="row">
        <div class="col-md-2">
            Number
        </div>
        <div class="col-md-10">
            Details
        </div>
    </div>
    @foreach (var step in Model.Steps)
    {
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink(step.Number.ToString(), "StepDetails", "Home", new { planId=Model.Id, stepNumber = step.Number })
        </div>
        <div class="col-md-10">
            @step.StepDetails
        </div>
    </div>
    }
</div>
<a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Index">
    Back
</a>