﻿@model PlanStepViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="alert alert-secondary">
    <div><b>Details:</b> @Model.StepDetails</div>
</div>
<h2>Orders: @Model.Orders.Count</h2>
<hr />
<div class="table">
    @foreach (var order in Model.Orders)
    {
    <div class="row">
        <div class="col-md-12">
           @order
        </div>
    </div>
    }
</div>
<a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Index">
    Back
</a>